# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv/
.env

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
media/perfiles/
media/publicaciones/
media/portafolio/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Secrets
*.pem
*.key
